@font-face {
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Italic.otf");
    font-style: italic;
    font-weight: normal;
}


@font-face {
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Bold.otf");
    font-style: normal;
    font-weight: bold;
}


@font-face {
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Bold-Italic.otf");
    font-style: italic;
    font-weight: bold;
}